*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131313;
}

#canvas{
    height: 700px;
    width: 700px;
    border: 3px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #3d405b;
}

#canvasMenu{
    height: 700px;
    width: 300px;
    border: 3px solid black;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-left: 200px;
    flex-direction: column;
    background: #3d405b;
}

#gridContainer{
    height: 700px;
    width: 700px;
    position: absolute;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(10, 70px);
    grid-template-rows: repeat(10, 70px);
    gap: 0px 0px;
    margin: 0;
}

#gridContainer .grid{
    border: 1px solid #4e516b;
    position: relative;  
}

#startButton{
    height: 80px;
    width: 200px;
    background: #e07a5f;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 30px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton:hover{
    background: #e99179;   
}

.enemy{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #e07a5f;
    position: absolute;
    left: 0;
    top: 700px;
    animation: enemyMove 20s linear;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: niagara solid;
}

@keyframes enemyMove{ 
    0%{left: 0; top: 580px;}
    12%{left: 160px; top: 580px;}
    44%{left: 160px; top: 160px;}
    64%{left: 440px; top: 160px;}
    80%{left: 440px; top: 370px;}
    100%{left: 700px; top: 370px;}
}

#gridContainer 
.grid:nth-child(81),
.grid:nth-child(82),
.grid:nth-child(83),
.grid:nth-child(73),
.grid:nth-child(63),
.grid:nth-child(53),
.grid:nth-child(43),
.grid:nth-child(33),
.grid:nth-child(23),
.grid:nth-child(24),
.grid:nth-child(25),
.grid:nth-child(26),
.grid:nth-child(27),
.grid:nth-child(37),
.grid:nth-child(47),
.grid:nth-child(57),
.grid:nth-child(58),
.grid:nth-child(59),
.grid:nth-child(60){
    background: #4e516b;
}

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
}

#health, #coins{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 40px;
    font-weight: 500;
}

.container{
    height: 50%;
    width: 100%;
}

#restContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#towersContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 0px 0px;   
}

#towersContainer .grid{
    border: 1px solid #4e516b;
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.tower{
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 2;
}

.bullet{
    height: 8px;
    width: 8px;
    background: rgb(95, 244, 255);
    border-radius: 50%;
    transition: 0.1s;
    position: absolute;
    z-index: 1;
}